.day-message {
  margin-top: 1vw;
  animation: fadeIn 5s;
  font-size: 30px;
}

.date {
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.services {
  float: right;
  animation-duration: 5s;
  animation-name: slidein;
}

body {
  /*background: #212529;*/
  animation: fadeBackground 20s;
  animation-fill-mode: forwards;
  background: var(--bs-red);
  background: -webkit-linear-gradient(to right, var(--bs-red),var(--bs-blue));
  background: linear-gradient(to right, var(--bs-red),var(--bs-blue));
}

.ronaldo {
  color: black;
  text-decoration: none;
}

.ronaldo:hover {
  color: white;
  text-decoration: none;
}

/* Animations */

.right {
  animation: superman-fly-right ease-in-out 3.5s backwards;
}

.right-fast {
  animation: superman-fly-right ease-in-out 2.5s backwards;
}

.left-fast {
  animation: superman-fly-left ease-in-out 2.5s backwards;
}

.fall {
  animation: superman-drop ease-in-out 3.5s backwards;
}

.fall-fast {
  animation: superman-drop ease-in-out 2s backwards;
}

/* End of animations */

/* Keyframes */

@keyframes superman-fly-right {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes superman-fly-left {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes superman-drop {
  from {
    transform: translateY(-100vw);
  }
  to {
    transform: translateX(0);
  }
}

.left {
  animation: superman-fly-left ease-in-out 2.5s backwards;
}

